<div class="container classes-div">
  {{#if successMessage}}
    <div class="alert alert-success">
      <strong>{{successMessage}}</strong>
    </div>
  {{/if}}
  <div class="row">
    <div class="card class-card col=lg-5">
      <div class="card-header">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroupPrepend3">
              <i class="fa fa-question-circle"></i>
            </span>
          </div>
          {{input type="text" id="assignmentName" class="form-control col-sm-12" value=model.title placeholder="Assignment Name" required="required"}}
        </div>
      </div>
      <div class="card-body">
        {{textarea class="form-control" value=question cols="56" rows="6" placeholder="Add Question"}}
        <br>
        {{input type="text" id="option1" class="form-control" value=option1 placeholder="Option 1" required="required"}}
        <br>
        {{input type="text" id="option2" class="form-control" value=option2 placeholder="Option 2" required="required"}}
        <br>
        {{input type="text" id="option3" class="form-control" value=option3 placeholder="Option 3" required="required"}}
        <br>
        {{input type="text" id="option4" class="form-control" value=option4 placeholder="Option 4" required="required"}}
        <br>
        {{input type="number" id="answer" class="form-control col-lg-4" value=answer placeholder="Correct Option" required="required"}}
        <button class="btn btn-success col-sm-2 add-question" {{action "createQuestion"}}>
          Add
        </button>
      </div>
    </div>
    <div class="col-lg-1"></div>
    <div class="vertical-divider col-lg-1"></div>
    <div class="col-lg-5">
      <h4>Preview: {{model.title}}</h4>
      <hr>
      <br>
      <div class="container">
        {{#if questions.length }}
          {{#each questions as |question index|}}
            <div class="card">
              {{log question}}
              <div class="card-header">{{index}}. {{question.body}}</div>
              <div class="card-body">
                {{#each question.options as |option|}}
                  <label><input type="radio" name="optradio" disabled>{{option}}</label>
                {{/each}}
              </div>
              <div class="card-footer">
                {{question.answer}}
              </div>
            </div>
          {{/each}}
        {{/if}}
      </div>
      <button class="btn btn-primary col-sm-2 add-class-button" {{action "createAssignment"}}>
        Save
      </button>
    </div>
  </div>
</div>