<div class="container classes-div">
  {{#if successMessage}}
    <div class="alert alert-success">
      <strong>{{successMessage}}</strong>
    </div>
  {{/if}}
  <div class="row">
    <div class="card class-card col-lg-5">
      <div class="card-header">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroupPrepend3">
              <i class="fa fa-users"></i>
            </span>
          </div>
          {{input type="text" id="className" class="form-control col-sm-9" value=className placeholder="Add Class" required="required"}}
          <button class="btn btn-primary col-sm-2 add-class-button" {{action "createClass"}}>
            Add
          </button>
        </div>
      </div>
      <ul class="list-group list-group-flush">
        {{#each model.classes as |class| }}
          <li class="list-group-item class-item" {{action "selectClass" class.code}}>
            <span>{{class.name}} | {{class.code}}</span>
          </li>
        {{/each}}
      </ul>
    </div>
    <div class="col-lg-1"></div>
    <div class="vertical-divider col-lg-1"></div>
    <div class="student-list col-lg-5">
      <h3>Add or Remove Students from your class</h3>
      {{input type="text" id="searchTerm" class="form-control col-sm-12" value=searchTerm placeholder="Search Here By Email" key-up=(action "searchStudents") }}
      <br>
      <div class="student-class-list">
        <table class="table table-hover">
          <thead>
            <tr>
              <th></th>
              <th>Email</th>
              <th>Username</th>
              <th>Name</th>
              <th>Class Code</th>
            </tr>
          </thead>
          <tbody>
            {{#each filteredStudents as |student| }}
              <tr>
                <td><input type="checkbox" 
                  class="form-check-input" onchange={{action "selectStudent" student.id}} 
                  id="exampleCheck1"></td>
                <td>{{student.email}}</td>
                <td>{{student.username}}</td>
                <td>{{student.firstName}} {{student.lastName}}</td>
                <td>{{student.classCode}}</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    {{#if model.students.length }}
      <button class="btn btn-success save-to-class" {{action "saveToClass"}}>
        Save
      </button>
    {{/if}}
  </div>
  </div>
</div>